<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" >
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea [(ngModel)]="task.description" name="description" rows="5"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit">Salvar</ion-button>


  </form>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-back-circle" [routerLink]="['']" routerLinkActive="router-link-active"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

</ion-content>
